name: Helm
on:
  push:
    branches: [master]
    tags:
      - v*
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: azure/setup-helm@v4.3.1
      - name: Lint Helm charts
        working-directory: ./charts
        run: make lint
      - name: Test Helm charts
        working-directory: ./charts
        run: make test

  release:
    runs-on: ubuntu-latest
    needs: lint
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Get version from tag
        run: |
          # Strip git ref prefix from version and "v" prefix from tag name
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,' | sed -e 's/^v//')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
      - run: make crdgen
      - uses: azure/setup-helm@v4.3.1
      - uses: oras-project/setup-oras@v1
      - name: Import GPG key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          echo "$GPG_PRIVATE_KEY" | gpg --batch --import
      - name: Export GPG key to legacy format
        run: |
          mkdir -p ~/.gnupg
          gpg --export > ~/.gnupg/pubring.gpg
          gpg --export-secret-keys > ~/.gnupg/secring.gpg
      - name: Get GPG key name
        id: gpg_key
        run: |
          KEY_NAME=$(gpg --list-secret-keys --with-colons | grep '^uid' | head -n1 | cut -d: -f10)
          echo "key_name=${KEY_NAME}" >> $GITHUB_OUTPUT
      - name: Push chart
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
          name: kaniop
          repository: ${{ github.repository_owner }}/helm-charts
          tag: ${{ env.VERSION }}
          path: charts/kaniop
          registry: ghcr.io
          registry_username: ${{ github.repository_owner }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          update_dependencies: 'true'
          sign: 'true'
          signing_key: ${{ steps.gpg_key.outputs.key_name }}
          signing_keyring: ~/.gnupg/secring.gpg
          signing_passphrase: ' ' # Passphrase is required but empty
      - name: Login to GHCR for ORAS
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | oras login ghcr.io -u ${{ github.repository_owner }} --password-stdin
      - name: Push Artifact Hub metadata
        working-directory: charts/kaniop
        run: |
          oras push \
            ghcr.io/${{ github.repository_owner }}/helm-charts/kaniop:artifacthub.io \
            --config /dev/null:application/vnd.cncf.artifacthub.config.v1+yaml \
            artifacthub-repo.yaml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml
