name: Helm
on:
  push:
    branches: [master]
    tags:
      - v*
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - uses: azure/setup-helm@v4.3.1
      - name: Lint Helm charts
        working-directory: ./charts
        run: make lint
      - name: Test Helm charts
        working-directory: ./charts
        run: make test

  release:
    runs-on: ubuntu-latest
    needs: lint
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - name: Get version from tag
        run: |
          # Strip git ref prefix from version and "v" prefix from tag name
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,' | sed -e 's/^v//')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
      - run: make crdgen
      - uses: azure/setup-helm@v4.3.1
      - uses: oras-project/setup-oras@v1
      - name: Push chart
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
          name: kaniop
          repository: ${{ github.repository_owner }}/helm-charts
          tag: ${{ env.VERSION }}
          path: charts/kaniop
          registry: ghcr.io
          registry_username: ${{ github.repository_owner }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
          update_dependencies: 'true'
      - name: Login to GHCR for ORAS
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | oras login ghcr.io -u ${{ github.repository_owner }} --password-stdin
      - name: Push Artifact Hub metadata
        working-directory: charts/kaniop
        run: |
          oras push \
            ghcr.io/${{ github.repository_owner }}/helm-charts/kaniop:artifacthub.io \
            --config /dev/null:application/vnd.cncf.artifacthub.config.v1+yaml \
            artifacthub-repo.yaml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml
